body {
  font: 18px 'Open Sans';
}

#experiencia-profissional {
  display: none;
}

input[type=text], input[type=email] {
  width: 400px;
  padding: 5px;
}

.phone-alternative {
  display: none;
}

label {
  font-weight: normal;
}

.feedback {
  display: none;
}
